.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

* {
  font-family: Quicksand;
}

.hideme {
  opacity: 0 !important;
}

.mainText{
  background-position: center;
  padding: 10px;
  font-family: Righteous;
  font-size: 50px;
  color: black;
  background: ;
}
